body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}
.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}
.breadcrumbs {
  margin-bottom: 56px;
  min-height: 65px;
}
.main-footer {
  margin-top: 47px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}
.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}
.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

/*КАТАЛОГ*/

.sidebar {
  float: left;
  width: 220px;
}
.catalog {
  float: right;
  width: 700px;
  min-height: 605px;
  font-size: 0;
}
.item {
  display: inline-block;
  font-size: 14px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 18px;
}
.item:nth-child(3n+3) {
  margin-right: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  list-style: none;
}
.paginator {
  width: 700px;
  min-height: 43px;
  font-size: 14px;
}

/*СТРАНИЦА ТОВАРА*/

.item-photo {
  float: left;
  width: 460px;
  min-height: 670px;
  font-size: 0;
}
.item-description {
  float: right;
  width: 390px;
  padding-top: 20px;
}
.item-photo li {
  margin-right: 20px;
}
.item-photo li:last-child {
  margin-right: 0;
}
